body{
  margin:0;
  min-height:100vh;
  font-family:'Pirata One', serif;
  background:url("sfondo.jpeg") center/cover no-repeat fixed;
  color:white;
  text-align:center;
}

.hidden{ display:none !important; }

/* LOBBY */
#lobby{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

.lobby-box{
  width:90%;
  max-width:450px;
  background:rgba(0,0,0,.55);
  border-radius:20px;
  padding:25px;
}

/* INPUT */
input, select{
  width:80%;
  padding:10px;
  margin:8px auto;
  display:block;
  border-radius:10px;
}

/* BUTTON */
button{
  width:200px;
  padding:10px;
  margin:8px auto;
  display:block;
  cursor:pointer;
}

/* GAME */
#table{
  display:flex;
  justify-content:center;
  gap:20px;
}

 
